<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='hc后台管理'">
    <meta charset="UTF-8"></meta>
    <title>网页无法访问</title>
</head>
<body>
<div class="layadmin-tips">
<i class="layui-icon" face="21.gif"></i>
    <h2>hi，真不巧，网页走丢了。</h2>
    <h4>不如搜索一下你想要的，或者刷新网页试试吧。</h4>
<div class="layui-text">
    <h1>
        <span class="layui-anim layui-anim-loop layui-anim-">4</span>
        <span class="layui-anim layui-anim-loop layui-anim-rotate">0</span>
        <span class="layui-anim layui-anim-loop layui-anim-">4</span>
    </h1>

</div>
</div>

<!--<form id="useLogin" class="layui-form" action="">
<div class="layui-form-item">
    <div class="layui-input-block">
        <button id="errBtn" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="errRedictre">刷新试试</button>
    </div>
</div>
</form>-->
<!--<p><span th:text="${result.message}"></span>（<span th:text="${result.data}"></span>）</p>-->
</body>
</html>